@model IEnumerable<FT_Retail.Models.Artigo>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.NetCore;

@{
    ViewData["Title"] = "Artigos";
}
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <h1 align="left">Listagem de Artigos</h1>
        </div>
        <div class="col-6">
            <form asp-action="Index" method="get">
                <div class="input-group" style="margin-left:auto; margin-right:0; margin-bottom:5px;">
                    <input type="text" class="form-control" placeholder="PLU" aria-label="PLU" aria-describedby="button-addon4" name="PLU" value="@ViewData["currentFilter"]">
                        <input type="submit" style="margin-left:5px" value="Pesquisar" class="btn btn-primary" />
                        <a asp-action="Index" style="margin-left:5px" class="btn btn-secondary">Limpar Filtro</a>
                </div>
                <div class="input-group" style="margin-left:auto;margin-top:5px; margin-right:0;">
                    <input type="text" class="form-control" placeholder="Nome do Artigo" aria-label="Nome do Artigo" aria-describedby="button-addon4" name="Nome" value="@ViewData["currentFilter2"]">

                </div>
                   
            </form>
        </div>
    </div>
</div>
    <hr />

    @if (Model.Count() == 0)
    {
        <br />
        <button class="btn btn-lg btn-danger btn-block disabled">Não foram encontrados artigos!</button>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.idArtigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href = '@(Url.Action("Edit", "Artigos", new { id = item.idArtigo }))'">
                        <td>
                            @Html.DisplayFor(modelItem => item.idArtigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, searchString = @ViewData["currentFilter"] }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    }
