@model IEnumerable<FT_Retail.Models.Balanca>

@{
    ViewData["Title"] = "Balanças";
}
    
<br />
<table style="width: 100%;">
    <tr>
        <th>
<h1>Lista de Balanças</h1>
        </th>
        <th class="float-right">
            <i class="float- right fas fa-circle @(ViewData["RGI"].ToString() == "1" ? "text-success" : "text-danger")"></i><b> RGI</b> <br>
            <i class="fas fa-circle @(ViewData["Comunicaciones"].ToString() == "1" ? "text-success" : "text-danger")"></i> <b> Comunicações</b> 
       
        </th>
    </tr>
</table>  

<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 " style="margin-bottom: 10px">
            <div class="card  @(item.EstadoEquipamento == 1 ? "card border-success mb-3" : "") @(item.EstadoEquipamento == 2 ? "bg-warning" : "")@(item.EstadoEquipamento == 3 ? "bg-danger" : "")">
                <div class="card-body">
                    <h5 class="card-title @(item.EstadoEquipamento == 1 ? "text-success" : "") ">@Html.DisplayFor(modelItem => item.DirecaoLogica) - @Html.DisplayFor(modelItem => item.NomeBalanca) <a class="btn btn-info float-right text-black-50" onclick="location.href = '@(Url.Action("Lista", "Balancas", new { id = item.IdBalanca }))'"><i class="fas fa-info"></i></a></h5>
                    <p class="card-text">
                        Modelo: <b>@Html.DisplayFor(modelItem => item.TipoBalanca)</b><br />
                        @Html.DisplayNameFor(model => model.Dir_IP) - <b> @Html.DisplayFor(modelItem => item.Dir_IP) (@Html.DisplayFor(modelItem => item.PortaTX))</b><br />
                        @Html.DisplayNameFor(model => model.TransacoesPendentesArtigos) : <b>@Html.DisplayFor(modelItem => item.TransacoesPendentesArtigos)</b><br />
                        @Html.DisplayNameFor(model => model.TransacoesPendentesOfertas) : <b>@Html.DisplayFor(modelItem => item.TransacoesPendentesOfertas)</b><br />
                    </p>
                    <div class="card-footer">
                        <small>
                            @Html.DisplayNameFor(model => model.UltimaAtualizacaoSucesso): 
                            @if (item.UltimaAtualizacaoSucesso.ToString() == new DateTime().ToString())
                            {
                            <b>N/A</b>
                            } else
                            {
                        <b>@Html.DisplayFor(modelItem => item.UltimaAtualizacaoSucesso)</b>
                            }
                            </small>
                    </div>
                </div>
            </div>
        </div>
    }
<div class="w-100"></div> 
<div>
    <a class="btn-danger btn-lg btn-block text-center" asp-controller="Home" asp-action="Index">Voltar</a>
</div>
